body {
    background-color: #FDFCFA !important;
}

#btn-login {
    color: #FA7435;
    width: 155px;
}

#btn-discover {
    color: #FA7435;
    border-color: #FA7435;
    width: 180px;
}

#btn-signup {
    background-color: #FA7435;
    color: white;
    width: 155px;
}

.py-6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.orange-color {
    color: #FA7435;
}

#things-u-need {
    margin-top: 500px;
    background-color: #F7F8FC !important;
}

#reviews {
    background-color: #F7F8FC !important;
}

footer {
    background-color: #F7F8FC !important;
}

.brand-footer {
    font-family: 'Volkhov', serif;
}

.card-icon-top {
    height: 50px;
    width: 50px;
}

.svg-star {
    color: rgb(245, 245, 19);
}

.svg-location {
    color: rgba(151, 151, 147, 0.616);
}

.position-relative {
    position: relative;
    width: 300px; /* Ancho de la imagen principal */
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Toma el ancho completo del contenedor */
    opacity: 1; /* Opacidad de la imagen encima */
}

.card-exclusive {
    border: 1px solid #c0b7b79c !important;
    background-color: white !important;
}
