body {
    background-color: #FDFCFA !important;
}

#btn-login {
    color: #FA7435;
    width: 155px;
}

#btn-discover {
    color: #FA7435;
    border-color: #FA7435;
    width: 180px;
}

#btn-signup {
    background-color: #FA7435;
    color: white;
    width: 155px;
}

#floating-card {
    background-color: white;
    border-radius: 1.5vh;
    border: transparent;
    box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
}

#explore-btn {
    background-color: #fa7436;
    height: 3.5rem;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.py-6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.orange-color {
    color: #FA7435;
}

#things-u-need {
    margin-top: 500px;
    background-color: #F7F8FC !important;
}

#deals-discounts {
    margin-top: 100px;
}
#reviews {
    background-color: #F7F8FC !important;
}


.card-icon-top {
    height: 50px;
    width: 50px;
}

.svg-star {
    color: rgb(245, 245, 19);
}

.svg-location {
    color: rgba(151, 151, 147, 0.616);
}

.svg-right-arrow {
    color: #FA7435;
    height: 40px !important;
}

.cursor-icon {
    color: #FA7435;
}

.svg-left-arrow {
    color: rgb(202, 200, 200);
    height: 40px !important;
}

.position-relative {
    position: relative;
    width: 300px; /* Ancho de la imagen principal */
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Toma el ancho completo del contenedor */
    opacity: 1; /* Opacidad de la imagen encima */
}

.card-exclusive {
    border: 1px solid #c0b7b79c !important;
    background-color: white !important;
}


footer {
    width: 100%;
    height: 898px; 
    background: linear-gradient(to bottom, transparent 210px, #F7F8FC 210px);
}

footer a {
    text-decoration: none;
    color: #666666;
}

.brand-footer {
    font-family: 'Volkhov', serif;
}

#subscribe-box {
    position: relative;
    border: solid 1 black;
    margin-bottom: 100px;
    margin-left: 300px;
    padding: 0;
    background-color: #FA7436; 
    color: white;
    width: 1170px; 
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    border-radius: 13px;
    z-index: 1;
    text-align: center;
}

.background-image-top-right,
.background-image-bottom-left {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-top-right {
    top: 10px;
    width: 113px;
    height: 114px;
    right: 0;
    background-image: url('../img/palmeras.png');
    z-index: -1;
}

.background-image-bottom-left {
    bottom: 0;
    left: 2px;
    width: 480px;
    height: 361px;
    background-image: url('../img/circulos.png');
    z-index: -1;
}

#button-addon1 {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FA7436; 
    color: white;
}

#blog-box {
    height: 805px;
    font-family: Volkhov;
    text-align: left;
}

.blog-title {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
}

/* .card-blog {
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

    width: 270px;
    height: 388px;
    top: 4410px;
    left: 375px;
    border-radius: 8px;
} */